.treding-h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    padding-bottom: 50px;
}

.treding-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.treding-card{
    width: 291px;
    height: 400px;
    padding: 10px;
    border-radius: 11px;
    background-color: #1F1F1F;
    color: #fff;
}

.treding-h4{
    padding: 10px 0;
    padding-bottom: 30px;
}

.treding-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author{
    display: flex;
    align-items: center;
    gap: 10px;
}